<h1>

    @{

    var name = "Matheus";

     }

    @name

    
</h1>

<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
  <div class="card-header">@ViewData["cabecalho"]</div>
  <div class="card-body">
    <h5 class="card-title"><b>@ViewData["Titulo"]</b> </h5>
    <p class="card-text">@ViewData["Descricao"]<i><p>aula dia 10/04/2023</i></p> </p>
  </div>
</div>