



@{


  var curso = ViewData["curso"] as Curso; // converte



}


<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
  <div class="card-header">@curso?.Titulointerno</div>
  <div class="card-body">
    <h5 class="card-title">@curso?.TituloMarketing</h5>
    <p class="card-text">@curso?.Descricao</p>
  </div>
</div>


<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="..." class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">@curso?.Titulointerno</h5>
        <p class="card-text">@curso?.TituloMarketing</p>
        <p class="card-text">@curso?.Descricao<small class="text-muted"></small></p>
      </div>
    </div>
  </div>
</div>


